<app-all-leaves [allLeaves]="leavesList" (selectLeave)="toggle($event)"></app-all-leaves>
<app-all-leaves [allLeaves]="plannedLeaves" (selectLeave)="toggle($event)"></app-all-leaves>
<app-all-leaves [allLeaves]="floaterLeaves" (selectLeave)="toggle($event)"></app-all-leaves>