<h2>All Leaves</h2>

<div *ngFor="let leave of allLeaves">
    <span>{{leave.leaveReason}}</span>
    
    <div *ngIf="leave.isFloaterSelected===true && leave.isAllSelected===false && leave.isPlannedSelected===false">
        <app-button type="button"  value="all" (click)="selectbutton('all',leave.leaveReason)">All</app-button>
        <app-button type="button" value="planned" (click)="selectbutton('planned',leave.leaveReason)">Planned</app-button>
    </div>

    <div *ngIf="leave.isPlannedSelected===true && leave.isAllSelected===false && leave.isFloaterSelected===false">
        <app-button type="button" id="all" (click)="selectbutton('all',leave.leaveReason)">All</app-button>
        <app-button type="button" id="floater" (click)="selectbutton('floater',leave.leaveReason)">Floater</app-button>
    </div>
    <div *ngIf="leave.isAllSelected===false && leave.isPlannedSelected===false && leave.isFloaterSelected===false">
        <app-button type="button" id="planned" (click)="selectbutton('planned',leave.leaveReason)">Planned</app-button>
        <app-button type="button" id="floater" (click)="selectbutton('floater',leave.leaveReason)">Floater</app-button>
    </div>

</div>
